.A {

    font-size: 45px;
    margin-top: 212px;


}
.B {


    font-size: 136px;

}
.C {

    font-size: 69px;
    margin-top: 423px;



}
header{

    background-color: rgba(227, 58, 202, 0);
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 10;



}